body
{
    display:grid;
    place-items: center;
    height: 100%;
    perspective: 1000px;
}



#button
{
    background: paleturquoise;
    padding: 2em;
}
#button:hover{
    opacity: 50%;
}
.pole1
{
    position: absolute;
    background: aqua;
    left:35%;
    animation: lewe 2s;
    animation-fill-mode: forwards;
      z-index: 110;
    
}
.pole2
{
    position: absolute;
    background: lavender;
     
    animation: praw 2s;
    animation-fill-mode: forwards;
    z-index: 100;
    
}
@keyframes prawe {
    0%{transform: translateX(0px);}
     50%{transform: translateX(-80px);}
     100%{transform: translateZ(150px) translateX(-80px);}
}
@keyframes lewe{
    0%{transform: translateX(0px);}
    50%{transform: translateX(80px);}
    100%{transform: translateZ(150px) translateX(80px);}

}

