body
{
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
#all
{
    padding: 10vh 10vh 0vh 10vh ;
    background-color: #a5adb0;
    
}
#navigation
{
    background-color: #a5adb0;
    border-bottom: 1.5px solid #cad2d7;
    display: grid;
    grid-template-columns: 200px 1fr 100px 100px 100px 100px 100px 100px;
    padding-bottom: 30px;
}
#logo img
{
   
    width: 150px;
    height: auto;
    grid-column-start:1; 
    
}
#link1
{
    
    grid-column-start:3;  
   
}
#link2
{   
    grid-column-start:4;  
}
#link3
{   
    grid-column-start:5;  
}
#link4
{  
    grid-column-start:6;  
}
#link5
{  
    grid-column-start:7;  
}
#link6
{   
    grid-column-start:8;  
}
.button 
{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.button a
{
    padding: 10px 25px;
    background-color: antiquewhite;
}

.napisidiota
{
    display: grid;
    align-items: center;   
    
    grid-template-columns: 50% 50%;
    grid-template-rows:300px 8vw 4vw 4vw 40px 60px 300px ; 
}
#idiotaduzy
{
grid-row-start:2;grid-column-start: 1;
font-family: 'Roboto', sans-serif;
font-size: 7vw;
color: #fff;
font-weight: normal;
letter-spacing: -2px;
}
#idiotanapis
{
    grid-row-start:3;grid-column-start: 1;
    font-family: 'Roboto', sans-serif;
    color: #e2e2e2;
    font-size: 2vw;
}
#idiotaosoba
{
    grid-row-start:4;
    grid-column-start: 1;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 2.5vw;
}
#idiotareklama
{
    grid-row-start:6;grid-column-start: 1;font-family: 'Roboto', sans-serif;
}

#glowa
{
    object-fit: cover;
   grid-row-start:2 ;
   grid-column-start: 1;
   width: 50px;
    
}
#opisy
{
    display: grid;
    background-color: rgb(243, 244, 245);
    padding: 10vh;
    grid-template-columns: 1fr 1fr 1fr;
}