body
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #f3f4f5;
    
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
#all
{
    padding: 10vh 5vh 0vh 5vh ;
    background-color: #f3f4f5;
    
}
#navigation
{
    background-color: #f3f4f5;
    display: grid;
    grid-template-columns:200px 1fr 600px ;
    border-bottom: 1.5px solid #cad2d7;
    
    
}
#links
{
    grid-column-start:3 ;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    padding-bottom: 30px;
    
}
#logo img
{
   
    width: 150px;
    height: auto;
    grid-column-start:1; 
    
}
#link1
{
    
    grid-column-start:1;  
   
}
#link2
{   
    grid-column-start:2;  
}
#link3
{   
    grid-column-start:3;  
}
#link4
{  
    grid-column-start:4;  
}
#link5
{  
    grid-column-start:5;  
}
#link6
{   
    grid-column-start:6;  
}
.button 
{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.button a
{
    padding: 10px 25px;
    background-color: #f3f4f5;
}
.button a:hover
{
    animation: przycisk 1s forwards;
}
#kolor
{
    background-color:#ffc000 ;
    border-radius: 10px;
    color: #f3f4f5;
}
.naglowki::after
{
    
    content:"." ;
    color: #ffc000;
    font-size: 56px;
    position: relative;
    padding-left: 3px;
   


}
h1.naglowki
{
    font-size: 45px;
}
#headery
{
   
    display: grid;
    grid-template-columns: 60vw 20vw;
    
   
}
#nagloowki{ border-right: solid 1.5px #cad2d7;
}
.sidebar{
    margin-left: 20px;
    grid-column: 2;
   
}
.lewa
{
    grid-template-columns: 1;
}
#sidebarimage
{
    width: 180px;
}
#rules
{
    border-bottom: solid 1.5px #cad2d7;
}
#headerbutton
{
    border-top: dotted 1.5px #cad2d7;
    
}
.przyciski
{
    display: flex;
    justify-content: space-between;
   
}
.mbutton > span{
    
    padding:5px 10px; background-color: #ffc000;
color: #fff;
}
.sbutton > span{
    font-size: 0.8rem;
    padding:4px 8px; background-color: #ffc000;
color: #fff;
}
.xsbutton > span{
    font-size: 0.6rem;
    padding:3px 6px; background-color: #ffc000;
color: #fff;
}

#gallery{grid-column:1 ;}
.obrazki
{
    display: grid;
    grid-column: 1;
    grid-template-columns:  20vw 20vw 20vw;
    grid-template-rows: 50vh 20vh;
    
}
.obrazki >img{object-fit: cover;width: 100%;
    max-height: 100%;}
#picture1{
    grid-row: 1;
    grid-column: 1/4;
    
}
#picture2{
    grid-row: 2;
    width: 200px;
}
#picture3{
    grid-row: 2;
    width: 200px;
}
#picture4{
    grid-row: 2;
    width: 200px;
}

.obrazki > img:hover
{
    opacity: 50%;
}
#sidebarimage:hover
{
    opacity: 50%;
}

#tablestyle
{
    padding-top: 20px;
    border-top: solid 1.5px #a5adb0;
grid-column: 1;
}
.tabelka
{
    background-color: #a5adb0;
    
}
.tabelka > td,th
{
    padding: 10px 50px;
    
}
.tabelka tr:nth-child(2n)
{
    background-color: #cad2d7;
}
#tabelkatytul
{
    background-color: #cad2d7;
}













@media only screen and (max-width:1000px){
    #navigation{
        grid-template-columns:200px 1fr ;
    }
    #links{
        
        
        grid-column-start: 2;    
        display: flex;
        flex-direction: column;
    
    }
    #all
    {
        padding: 10vh 0 10vh 10px ;
        
    }
    .button a{
        
        border-bottom: 1.5px solid #a5adb0;
    }
    }