body
{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
#all
{
    padding: 10vh 5vh 0vh 5vh ;
    background-color: #a5adb0;
    
}
#navigation
{
    background-color: #a5adb0;
    display: grid;
    grid-template-columns:200px 1fr 600px ;
    border-bottom: 1.5px solid #cad2d7;
    
    
}
#links
{
    grid-column-start:3 ;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    padding-bottom: 30px;
    
}
#logo img
{
   
    width: 150px;
    height: auto;
    grid-column-start:1; 
    
}
#link1
{
    
    grid-column-start:1;  
   
}
#link2
{   
    grid-column-start:2;  
}
#link3
{   
    grid-column-start:3;  
}
#link4
{  
    grid-column-start:4;  
}
#link5
{  
    grid-column-start:5;  
}
#link6
{   
    grid-column-start:6;  
}
.button 
{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.button a
{
    padding: 10px 25px;
    background-color: #a5adb0;
}
.button a:hover
{
    animation: przycisk 1s forwards;
}
#kolor
{
    background-color:#ffc000 ;
    border-radius: 10px;
    color: #f3f4f5;
}

.napisidiota
{
    display: grid;
    align-items: center;   
    height: 100vh;
    
    grid-template-columns: 50% 50%;
    grid-template-rows:10vh 100px 50px 40px 70px 10vh ; 
    background-image: url("masthead@2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.napisidiota >p
{
    margin: 0;
}
#idiotaduzy
{
grid-row-start:2;grid-column-start: 1;
font-family: 'Roboto', sans-serif;
font-size: 9vh;
color: #fff;

letter-spacing: -2px;
}
#idiotanapis
{
    grid-row-start:3;grid-column-start: 1;
    font-family: 'Roboto', sans-serif;
    color: #e2e2e2;
    font-size: 3vh;
}
#idiotaosoba
{
    grid-row-start:4;
    grid-column-start: 1;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
    color: #fff;
    font-size: 3vh;
}
#idiotareklama
{
    grid-row-start:6;
    grid-column-start: 1;
    font-family: 'Roboto', sans-serif;
    color: #fff;font-size: 3vh;
}

#glowa
{
    object-fit: cover;
   grid-row-start:2 ;
   grid-column-start: 1;
   width: 50px;
    
}
#opisy
{
    display: grid;
    background-color: #f3f4f5;
    padding: 10vh;
    grid-auto-flow: column;
}
.naglowki::after
{
    
    content:"." ;
    color: #ffc000;
    font-size: 56px;
position: relative;
padding-left: 3px;
   


}



@keyframes przycisk {
    from{
        color: black;}
    to{background-color: #4d4d4d ;
        color: #fff;}
    
}

@media only screen and (max-width:850px){
    #opisy{
    grid-auto-flow: row;        
    }
    #all
    {
        padding: 10vh 0 10vh 10px ;
        
    }
    
}

@media only screen and (max-width:1000px){
#navigation{
    grid-template-columns:200px 1fr ;
}
#links{
    
    
    grid-column-start: 2;    
    display: flex;
    flex-direction: column;

}
#all
{
    padding: 10vh 0 10vh 10px ;
    
}
.button a{
    
    border-bottom: 1.5px solid #a5adb0;
}
}