body
{
    padding: 0;
    margin: 0;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
li{
    list-style-type: none;
}
#all
{
    padding: 8vh 6vh 8vh 6vh;
    background-color: #a5adb0;
    
}
#navigation
{
    background-color: #a5adb0;
    border-bottom: 2px solid #cad2d7;
    display: grid;
    grid-template-columns: 200px 1fr 100px 100px 100px 100px 100px 100px;
}
#logo img
{
   
    width: 200px;
    height: auto;
    grid-column-start:1; 
    
}
#link1
{
    
    grid-column-start:3;  
   
}
#link2
{   
    grid-column-start:4;  
}
#link3
{   
    grid-column-start:5;  
}
#link4
{  
    grid-column-start:6;  
}
#link5
{  
    grid-column-start:7;  
}
#link6
{   
    grid-column-start:8;  
}
.button 
{
    display: grid;
    align-items: center;
    justify-items: center;
   
}
.button a
{
    padding: 10px 25px;
    background-color: antiquewhite;
}

#wrapper
{
   
}
#glowa
{
    position: absolute;
    
}