body{margin: 0;
    padding: 0;}
#body
{
display: grid;
grid-template-columns: 100px 2fr 5fr;


}
#menu
{
background-color:#252a3a ;
height: 100vh;

}
#button
{
    display: grid;
    justify-content: center;
}
#button > p
{
background-color: #4abdff;
padding: 2px 5px;
border-radius: 10px;
color: white;

}

#links
{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 20px 15px;
}
.link
{
    padding-bottom: 7px;
}
.activeLink
{
    background-color:#343949 ;
}
#labelsText
{
    padding-left: 9px;
    color: #989ca8;
    margin:0;
}
#labels
{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 7px 15px;
}
.label
{
color: white;   
padding-bottom: 7px; 
}
#mails
{

height: 100vh;
overflow-y: scroll;
}
.mail
{
    
    display: grid;
    height: 200px;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 30px 1fr;
    border-bottom: solid 1px #6e6f72;
    

}
#mejl
{
    background-color: #989ca8;
}
#new
{
    background-color: #e7e7e7;
}
.profilowe
{
width: 40px;
border-radius: 5px;
margin-top: 10px;
margin-left: 10px;

}
.name
{
color: #989ca8;
grid-column-start:2 ;
    grid-row-start: 1;
}
.title
{
    grid-column-start:2 ;
    grid-row-start:2 ;
    font-size: min(2vw, 20px);
    font-weight: bold;
}
.tresc
{
grid-column-start:2 ;
grid-row-start:3 ;
font-size: min(1.5vw, 12px);


}
#opened
{
    overflow-y: scroll;
    height: 100vh;
    
}
#header
{
    display: grid;
    grid-template-columns: 50vw  90px 90px 90px;
    grid-template-rows: 50px 100px  ;
    border-bottom: solid 1.3px #989ca8;
}
#nag{grid-column: 1; grid-row-start: 1;}
#data{grid-row: 3;
color:grey}
.buttony 
{
    display: grid;
border: solid 2px #989ca8;
border-radius: 30px;
justify-items: center;

}
#buttoneONE
{
    grid-column-start: 2; grid-row-start: 2;

}
#buttoneTWO
{
    grid-column-start: 3; grid-row-start: 2;
}
#buttoneTHREE
{
    grid-column-start: 4; grid-row-start: 2;

}
@media only screen and (max-width:1200) and (min-width:640px)  {
    #body
    {
        display: grid;
        grid-template-columns:100px 1fr ;
        grid-template-rows:20vh 1fr ;
    }
    #menu
    {
        grid-column-start: 1;
        grid-row: 0/3 ;
    }
    
}
@media only screen and (max-width:639px) {
    #body
    {   grid-template-rows: auto;
        grid-template-columns: 100vw;}
     #mails
    {

    height: 800px;
    overflow-y: visible;
    }
    #menu
    {
        height: 350px;
    }
    .tresc
    {
        font-size: max(3vw, 12px);   
        padding-right: 5px;   
    }
    .title
{
    font-size: max(3vw, 12px);  
}


}