body{margin: 0;
    padding: 0;}
#body
{
display: grid;
grid-template-columns: 100px 2fr 5fr;


}
#menu
{
background-color:#252a3a ;
height: 100vh;

}
#button
{
    display: grid;
    justify-content: center;
}
#button > p
{
background-color: #4abdff;
padding: 2px 5px;
border-radius: 10px;
color: white;

}

#links
{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 20px 15px;
}
.link
{
    padding-bottom: 7px;
}
.activeLink
{
    background-color:#343949 ;
}
#labelsText
{
    color: #989ca8;
    margin:0;
}
#labels
{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 7px 15px;
}
.label
{
color: white;   
padding-bottom: 7px; 
}
#mails
{

height: 100vh;
overflow-y: scroll;
}
.mail
{
    
    display: grid;
    height: 200px;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 50px 30px 1fr;
    border-bottom: solid 1px #6e6f72;
    

}
#mejl
{
    background-color: #989ca8;
}
#new
{
    background-color: #e7e7e7;
}
.profilowe
{
width: 40px;
border-radius: 5px;
margin-top: 10px;
margin-left: 10px;

}
.name
{
color: #989ca8;
grid-column-start:2 ;
    grid-row-start: 1;
}
.title
{
    grid-column-start:2 ;
    grid-row-start:2 ;
}
.tresc
{
grid-column-start:2 ;
grid-row-start:3 ;
}
#opened
{
    overflow-y: scroll;
height: 100vh;
}
@media  only screen and (max-width:639px) {
    #body
    {   grid-template-rows: auto;
        grid-template-columns: 100vw;}
     #mails
    {

    height: 100vh;
    overflow-y: visible;
    }
    #menu
    {
        height: 40vh;
    }

}
@media  only screen and (max-width:1200) {
    
}