
body
{
    margin: 0;
    font-family: sans-serif;
    
}


main
{

    width:100%;
    
    font-size: 12px;
    background-color: #252a3a;
    
    color: white;
    display: grid;
    grid-template-areas: 
    "menu"
    "maile"
    "mail"           
    ;
   

}
.menus
{
    margin: 10px  ;
    padding-left: 4px;
}
#lab
{
    padding-left: 9px;
    color: #406487;
    margin-bottom: 6px;
}
.labels
{
    margin-left: 10px;
}
.labele
{

    margin-bottom: 25px;
}

.compose_button
{
    
    
    background-color: #1B98F8;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    
    width: 80px;
    padding: 2px 8px;
    
    
    
    
}
.menu_links
{

    
    padding-bottom: 5px;

}
section
{



/*width:150px;*/
height: 100%;

}
.maile
{
   

display: grid;
flex-direction: column;
}
.ramkawiad
{
margin-top:14px;
border-bottom: solid rgb(194, 194, 194) 1px;

}
.srodek_ramki
{
    margin:14px 16px;
    display: flex;
}


.avatar
{
height: 42px;
border-radius:3px;
margin-right: 8px;
}


.ramkawiad a
{
    text-decoration: none;
    color: black;
}
.maile a:hover
{
    background-color: rgb(223, 33, 33)
}
.imie
{
    color: rgb(139, 138, 138)
}

.mail_opened
{

}
.title
{
    margin: 0 16px;
    border-bottom: solid grey 2px;
display: grid;
grid-template-columns: 1fr 0.5fr 0.5fr;
grid-template-rows: 1fr 0.3fr;
}
#replybutton
{
grid-column: 2;
grid-row: 1;
align-self: center;

}
#forwardbutton
{
    grid-column: 3;
    grid-row: 1; 
    align-self: center;
}
#movetobutton
{

    grid-column: 3;
    grid-row: 2;
    
}
#h2title
{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-auto-flow: column;
}
.text
{
    margin: 0 16px;
}

@media screen and (min-width: 639px)
{
    main{

    width:150px;
    font-size: 16px;
    height: 100%;

        }


}
@media screen and (min-width: 960px)
{
 body
 {
width: 100%;
display: grid;
grid-template-columns: 1fr 2fr 6fr;

 }
 section{display: grid;}
 main
 {
grid-column-start:1 ;
grid-column-end: 2;

 }

 .maile
 {
    grid-column-start:2 ;
    grid-column-end:3 ;
 }
 .mail_opened
 {

    width: 100%;
    grid-column-start:3 ;
 }

}


