
body
{
    margin: 0;
    font-family: sans-serif;
}
main

{

   /* width:150px;*/
    height: 100%;
    background-color: #252a3a;
    font-size: 16px;
    color: white;
   

}

.compose_button
{
    position: relative;
    
    background-color: #1B98F8;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    width: 80px;
    
    margin: 16px;
    
    
}
.menu_links
{

    padding-left: 16px;
    padding-bottom: 5px;

}
section
{



/*width:150px;*/
height: 100%;

}
.maile
{
   

display: flex;
flex-direction: column;
}
.ramkawiad
{
margin-top:14px;
border-bottom: solid rgb(194, 194, 194) 1px;

}
.srodek_ramki
{
    margin:14px 16px;
    display: flex;
}

.avatar
{
height: 42px;
border-radius:3px;
margin-right: 8px;
}

.mail_opened h2
{
font-size: 32px;
color: black;
}
.ramkawiad a
{
    text-decoration: none;
    color: black;
}
.ramkawiad a:hover
{
    background-color: rgb(223, 33, 33)
}