body
{
    margin:0;
    background-color:#fafafa; 
}

#header
{
    
display: flex;
border-bottom: 2px solid #b9b9b9;

align-items: center;


justify-content: space-between;

}
#columns
{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #b9b9b9;
    
}

#main
{     width: 1000px;
    background-color:#fafafa;
    margin-left: auto;
    margin-right: auto;
}



#text1
{
    text-align:center;
    width: 450px;
}
#text2
{
    text-align:center;
    width: 450px;
}
#circles
{  
    display: flex;
    justify-content: center;
    
}

#circle1
{
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
}
#circle2
{
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
    margin-left: -30px;
}
#circle3
{
    background-color: #4f9ae0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.7;
    margin-left: -30px;
}

#buildbw
{

}

#footer {
    background-color: #232d2f;
    background-image: url(zabek.jpg);
    background-repeat: repeat-x;
    margin-top: 40px;
    height: 200px;
}