body
{
    background-color: #15222a;
    margin:0;
}
.header
{
    display:flex;
    align-items: center;
    justify-content: center;
}
.board

{
    background-color: white;
     display: flex;
    width: 460px;
    
    margin-top: 5%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
   
}
.image
{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.text-board

{  font-family: arial;
    color:#cbd6df;
     justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width:440px;
}
.Title
{   color:#cbd6df;
    text-align: center;
    justify-content: center;
}
.mail
{
    display: flex;
    justify-content: center;
    margin-left: auto;
  margin-right: auto;
}