body
{
    
    margin: 0;
    perspective: 400px;
}
#container{
    
    height: 1000px;
    width: 100%;
    
    position: absolute ;
    background: red;
    transform: translateZ() ;
}
#nav
{
    
    width:150px;
    background-color: aquamarine;
    height: 100%;

}